# The file auth.env will be created for you by running `make auth`
# This file just explains what teh variables are used for

# This identity is used by the Resource Processor to administer the
# AAD Applications (e.g. Add Redirect URIs)
# APPLICATION_ADMIN_CLIENT_ID=""
# APPLICATION_ADMIN_CLIENT_SECRET=""

# The API Client ID is used to provide Auth for the API/UX. These
# are mandatory for the running of `make all`
# API_CLIENT_ID=""
# API_CLIENT_SECRET=""
# SWAGGER_UI_CLIENT_ID=""

# The following 2 environment variables are only required
# if you want to automated bundle registration.
# TEST_ACCOUNT_CLIENT_ID=""
# TEST_ACCOUNT_CLIENT_SECRET=""

# You will only need a workspace identity if you running this TRE
# locally for E2E. Normally, these will be supplied by the Tenant
# Admin if you are not automatically creating Workspaces.
# WORKSPACE_API_CLIENT_ID=""
# WORKSPACE_API_CLIENT_SECRET=""
