# This file defines the code owners for the Azure TRE repository.
# Code owners are automatically requested for review when someone opens a pull request
# that modifies code that they own.
#
# For more information about CODEOWNERS, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @marrobi @tamirkamara @martinpeck @damoodamoo
