# See https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Put files here that you need in the devcontainer's context
.gitignore
Dockerfile.tmpl

.bash_history
.mypy_cache
.pytest_cache

__pycache__
.env
*.env

docs
!docs/requirements.txt

cli/build
cli/dist
*.egg-info/

**/.terraform
tfplan*
*.log

templates/workspace_services/guacamole/guacamole-server/guacamole-auth-azure/target

**/node_modules
**/.cnab

ui/app/build
site

.git
