# Requirements for API
Click==7.1.2
fastapi[all]==0.65.1
fastapi-utils==0.2.1
uvicorn[standard]==0.13.4
gunicorn==20.1.0
aiohttp==3.7.4
azure-core==1.14.0
azure-cosmos==4.2.0
azure-identity==1.6.0
azure-servicebus==7.2.0

# Dev requirements
pytest==6.2.4
pytest-asyncio~=0.14.0
flake8==3.9.1
httpx~=0.18.1
asgi-lifespan~=1.0.1
pre-commit==2.12.1
mock==4.0.3

# Requirements for processor function
azure-functions
azure-mgmt-containerinstance
azure-mgmt-network
msrest

# Shared requirements
opencensus-ext-azure==1.0.8

# Requirements for service bus send sample
azure-functions
