# Dev requirements
flake8==6.0.0 # ensure same as super linter
pre-commit==3.5.0
semantic-version==2.10.0

-r api_app/requirements.txt
-r api_app/requirements-dev.txt
-r resource_processor/vmss_porter/requirements.txt
-r docs/requirements.txt
-r e2e_tests/requirements.txt
-r airlock_processor/requirements.txt
