resource_name_prefix    = "tre"
environment             = "dev"
location                = "westeurope"
address_space           = "10.1.0.0/16"
docker_registry_username="github-username"
docker_registry_password=""
management_api_image_tag="develop-latest"