resource_name_prefix    = "tre"
environment             = "dev"
tag                     = "Azure Trusted Research Environment"
location                = "westeurope"
address_space           = "10.1.0.0/16"
tre_dns_suffix          = "internal.drelocal"