resource_name_prefix    = "tre"
environment             = "dev"
location                = "westeurope"
address_space           = "10.1.0.0/16"
management_api_image_tag="develop-latest"
docker_registry_username=""
docker_registry_password=""