# GUID to identify the workspace service
ID=__CHANGE_ME__
TRE_RESOURCE_ID=__SAME_AS_ID__

# GUID to identify the workspace bundle
WORKSPACE_ID="__CHANGE_ME__"

ARM_USE_MSI=true
ENABLE_SSO_PRECONSENT=false
