# Do not include azure-functions-worker as it may conflict with the Azure Functions platform
azure-core==1.35.0
azure-functions==1.24.0
azure-storage-blob==12.27.1
azure-identity==1.25.1
azure-mgmt-storage==24.0.0
azure-mgmt-resource==24.0.0
pydantic==1.10.26
