resource_name_prefix    = "tre"
environment             = "dev"
location                = "westeurope"
address_space           = "10.1.1.0/24"
core_vnet               = "dc55trevnet"
core_resource_group_name= "dc55trerg"