aiohttp==3.8.6
azure-core==1.29.5
azure-cosmos==4.5.1
azure-eventgrid==4.15.0
azure-identity==1.14.1
azure-mgmt-compute==30.3.0
azure-mgmt-cosmosdb==9.3.0
azure-mgmt-costmanagement==4.0.1
azure-mgmt-resource==23.0.1
azure-monitor-opentelemetry==1.0.0
azure-servicebus==7.11.3
azure-storage-blob==12.19.0
fastapi==0.104.0
fastapi-utils==0.2.1
gunicorn==21.2.0
jsonschema[format_nongpl]==4.19.1
msal==1.22.0
opentelemetry.instrumentation.logging==0.41b0
pandas==2.0.3
PyJWT==2.8.0
pytz==2022.7
python-dateutil==2.8.2
semantic-version==2.10.0
uvicorn[standard]==0.23.2
