# Local .terraform directories
**/.terraform/*

# TF backend files
**/*_backend.tf

Dockerfile.tmpl

.env*

terraform/destroy.sh
guacamole-server/
!guacamole-server/docker/version.txt
user_resources/
