---
# This workflow is required to publish test results from forks
name: Test Results

on: # yamllint disable-line rule:truthy
  workflow_run:
    workflows: ["Docker build"]
    types:
      - completed

permissions:
  contents: read

jobs:
  test-results:
    name: Test Results
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion != 'skipped'

    permissions:
      checks: write

      # needed unless run with comment_mode: off
      pull-requests: write

      # required by download step to access artifacts API
      actions: read

    steps:
      - name: Download and Extract Artifacts
        uses: dawidd6/action-download-artifact@e7466d1a7587ed14867642c2ca74b5bcc1e19a2d
        with:
           run_id: ${{ github.event.workflow_run.id }}
           path: artifacts

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          commit: ${{ github.event.workflow_run.head_sha }}
          event_file: artifacts/Event File/event.json
          event_name: ${{ github.event.workflow_run.event }}
          files: "artifacts/**/*.xml"
          check_name: "Unit Test Results"

      # The following step is the catch situations where the tests didn't run at all.
      - name: Check failure files
        run: |
          if compgen -G "artifacts/**/pytest*failed" > /dev/null; then
            echo "Tests failure file(s) exist. Some tests have failed or didn't run at all! \
              Check the artifacts for details."
            exit 1
          fi

      # For PR builds triggered from comment builds, the GITHUB_REF is set to main
      # so the checks aren't automatically associated with the PR
      # If prHeadSha is specified then explicity mark the checks for that SHA
      - name: Report check status
        if: github.event.workflow_run.head_sha != ''
        uses: LouisBrunner/checks-action@v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # the name must be identical to the one received by the real job
          sha: ${{ github.event.workflow_run.head_sha }}
          name: "Test Results"
          status: "completed"
          conclusion: ${{ github.event.workflow_run.conclusion }}
          details_url: "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
